body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
 /* background-image: url("nyc.jpg");*/
}
.navbar-default .navbar-brand {
  color: black;
}
.navbar-default .navbar-brand:hover{
  color: #E3E3E3;
}
.nav.navbar-right > li > a {
  color: #616161;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  background-color: #D1D1D1;
  color: black;
}

@media (min-width: 650px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -10px;
  }
}


.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin: auto;
  width: 50%;
  margin-top: 50px;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 100;
}

.form-control {
  display: block;
  padding: 6px 12px;
  font-size: 17px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#search{
  height: 40px;
}
.form-control:focus {
  border: solid #001A57 1px !important;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}


.space:hover {
  color: black;
  background-color: #e3e3e3;
  border: solid #B3B3B3 1px;
}
.navbar-brand {
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.container {
  padding-right: 25px;
  padding-left: 20px;
  width: 100%;
  margin-right: none;
  margin-left: none;
  background-color: transparent;
}
.buttons{
  display: inline;
}

#left{
  margin-right: 20px;
}
.log{
  margin: auto;
  width: 630px;
  align: center;   
}

.logo{
  padding-top: 10px;
  width: 100%;
  height: 30px;
  font-weight: 50;
  font-size: 20px;
  font-family: Garamond;
  letter-spacing: 3px;
  text-align: center;
  padding-right: 8px;
  text-decoration: none;
}
.smaller{
  font-family: sans-serif;
  font-size: 10px;
  letter-spacing: 4px;
}
.logo a{
  color: #2E2E2E;
}
.logo a:hover{
     color:black; 
     text-decoration:none; 
     cursor:pointer;  
}
.borders{
  margin-top: -10px;
  border-bottom: solid #F1F1F1 1px;
}

.nav-buttons{
  margin-bottom: -12px;
  font-size: 13px;
  text-align: center;
  font-weight: normal;
  border: solid #FAFAFA 1px;
  border-radius: 3px;
  background-color: #FAFAFA;
  padding: 7px 10px 7px 10px;
}
.nav-buttons:hover{
  border: solid #E5E5E5 1px;
  border-radius: 3px;
  color: #424242;
  background-color: #F5F5F5;
}
.btn-primary{
  background-color: #001A57;
  color: white;
  height: 46px;
  margin-top: -1px;
  margin-right: 5px;
  border-radius: 3px;
}
.btn-primary:hover,
.btn-primary:focus{
  background-color: #001A40;
  color: white;
}
.foobar{
  margin: auto;
  align: center;
  width: 90%;
  max-height: 100px;
  margin-top: 130px;
  font-family: Garamond;
  font-weight: 300;
  font-size: 70px;
  color: #001A57;
  letter-spacing: 7px;
  padding-bottom: 10px;
  text-align: center;
}

.form-control{
  min-width: 250px;
  height: 44px;
}
.bottom-bar{
  padding-top: 0px;
  height: 40px;
  width: 100%;
  position: absolute;
  border-top: solid #BFBFBF 1px;
  text-align: right;
  bottom: 0;
}
.misc{
  margin-top: 11px;
  display: inline-block;
  float:right; 
  position: absolute; 
  right: 0;
  margin-right: 7px;
  margin-bottom: 5px;
  font-size: 11px;
  font-family: Helvetica;
  letter-spacing: 1px;
  border-left: solid #001A57 1px;
  padding-left: 10px;
}
.misc a{
  color: #001A57;
}
.copyright{
  position: absolute;
  left: 0;
  width: 210px;
  font-family: Helvetica;
  letter-spacing: 1px;
  font-size: 11px;
  display:inline-block; 
  margin-top: 11px; 
  margin-right: 85%;
}

/*override*/
.top-navigation .navbar-brand {
  font-family: Garamond;
  letter-spacing: 2px;
  font-size: 25px;
  background-color: transparent;
  color: #001A57;
  padding: 15px 25px;
}
.nav-buttons{
  margin-top: 8px;
  margin-right: 20px;
}
.navbar-static-top{
  background-color: transparent;
}
.top-navigation .nav > li a:hover,
.top-navigation .nav > li a:focus {
  background: transparent;
  color: #001A57;
}
.navbar-right li a{
  font-weight: normal;
}
.footer{
  border: none;
  background-color: transparent;
}
.title{
  margin-top: 10px; 
  font-size: 45px;
  text-align: center;
}
.purchase{
  font-family: sans-serif !important;
  letter-spacing: 3px;
  color: #001A57;}


