.dropdown .space{
  background-color: #001A57;
}
.dropdown .space:hover,
.dropdown .space:focus{
  background-color: #001A40 !important;
}
.todo-list .labels{
  margin-top: 5px;
  font-family: Arial;
  font-size: 12px;

}
.todo-list{
  background-color: #F1F1F1;
}
.todo-list li{
  font-family: Arial;
  background-color: #F1F1F1;
}
.i-checks[type="checkbox"]:before{
  background-color: black !important; 
}